{% if idlists.has_other_pages %}
              <div class="row">
                <div class="col-sm-12">
                <ul class="pagination pull-right">

                        {% if idlists.has_previous %}
                            <li><a href="?page={{ idlists.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fa fa-angle-left"></a></i></li>
                        {% endif %}

                        {% for idlists in page.paginator.page_range %}
                          {% if page.number == idlists %}
                            <li class="active"><a href="#">{{ idlists }}</a></li>
                          {% else %}
                            <li><a href="?page={{ idlists }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ idlists }}</a></li>
                          {% endif %}
                        {% endfor %}

                        {% if idlists.has_next %}
                            <li><a href="?page={{ idlists.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i class="fa fa-angle-right"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="fa fa-angle-right"></a></i></li>
                        {% endif %}
                </ul>
              </div>
            </div>
{% endif %}
