{% extends 'naver_work/base.html' %}
{% load staticfiles %}

{% block postlist %}<li class="active"><a href="{% url 'postlist' %}"><i class="ion-compose"></i> <span class="nav-label">Post</span></a></li>{% endblock %}
{% block content %}



                <!-- Page Content Start -->
                <!-- ================== -->

                <div class="wraper container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                      <h6 class="text-center text-muted m-t-20"><i class="ion-ios7-time-outline"></i> {{ post.published_date }}</h6>
                                      <h1 class="text-center text-info m-0">{{ post.title }}</h1><br>
                                      <h2 class="m-t-20"><small>{{ post.article|safe|linebreaks }}</small></h2>
                                    <hr/>
                                    <h4 class="text-left text-info m-0"><small>태그: {% for tag in post.tags.all %} {{ tag }} {% endfor %}</small></h4>
                                </div> <!-- panel-body -->
                            </div> <!-- panel -->
                        </div> <!-- col -->
                    </div> <!-- End row -->
                </div>
                <!-- Page Content Ends -->
                <!-- ================== -->
{% endblock %}
